/* Reset */

body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #ddd;
}

h1,h2,h3{
    color: #333;
}

p, label{
    color: #444;
}

input{
    border: 1px transparent solid;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"]{
    width: 400px;
}

input[type="file"]{
    cursor: pointer;
}

textarea{
    width: 400px;
}

input:focus{
    outline: none;
}

ul li{
    list-style: none;
}

/* Project */ 

header{
    background-color: #673AB7;
    height: 160px;
    width: 100%;
    position: relative;
    top: 0;
    padding: 20px;
}

main{
    position: relative;
    top: -70px;
}

#header-title{
    color: #ffffff;
}


#form-header p{
    width:58%;
    height: 43px;
    background-color: #ffffff;
    line-height: 43px;
    color: #673AB7;
    border-bottom: 2px solid #673AB7;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

#form-body{
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    width: 700px;
}

.box-input{
    margin-bottom: 30px;
}

.block{
    display: block;
}

.box-optionals{
    display: inline-block;
    padding: 10px;
}

.box-optionals li{
    padding-left: 0;
}


#button{
    height: 50px;
    width: 110px;
    border: 1px transparent;
    color: #fff;
    text-transform: uppercase;
    background-color: #673AB7;
    margin: 30px;
}

#button:hover{
    height: 50px;
    width: 110px;
    border: 1px solid #673AB7;
    color: #673AB7;
    background-color: #fff;
    text-transform: uppercase;
    transition: 500ms;
    cursor: pointer;

}

.red-mark{
    color: red;
}